-# encoding: utf-8
.row
  %h1#index-title
    AsReader

.row#index-features
  %p
    Manage book collection
  %p
    Track reading progress
  %p
    Keep excerpts

.row
  %button.btn.btn-primary.center-block#index-logingithub{type: "button", onclick: "location.href='/login/douban/';"}
    Log in with Douban
